-- Migration: Enhance Knowledge Base
-- Milestone 3: Knowledge Base Enhancements

-- 1. Create Categories and Tags Tables
CREATE TABLE IF NOT EXISTS public.categories (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL UNIQUE,
  slug TEXT NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS public.tags (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL UNIQUE
);

-- 2. Enhance Articles Table
ALTER TABLE public.knowledge_articles ADD COLUMN IF NOT EXISTS slug TEXT UNIQUE;
ALTER TABLE public.knowledge_articles ADD COLUMN IF NOT EXISTS summary TEXT;
ALTER TABLE public.knowledge_articles ADD COLUMN IF NOT EXISTS published_date TIMESTAMPTZ;
ALTER TABLE public.knowledge_articles DROP COLUMN IF EXISTS category;
ALTER TABLE public.knowledge_articles ADD COLUMN category_id UUID REFERENCES public.categories(id);

-- 3. Versioning Table
CREATE TABLE IF NOT EXISTS public.article_versions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  article_id UUID NOT NULL REFERENCES public.knowledge_articles(id) ON DELETE CASCADE,
  content TEXT NOT NULL,
  version_number INT NOT NULL,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  created_by UUID REFERENCES auth.users(id)
);
